@import "../../../assets/scss/vars";

.label {
  position: absolute;
  right: 0;
  top: -11px;
  height: 40px;
  width: 40px;
}

.checkbox-password-input {
  appearance: none;
  -webkit-appearance: none;
  &:focus-visible + .checkbox-password {
    border: 2px solid $border-color-button-focus;
  }
}

.checkbox-password {
  position: absolute;
  top: 0;
  height: 40px;
  width: 40px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  cursor: pointer;
  &--view {
    background-image: url("../../../assets/img/view.svg");
  }
  &--no-view {
    background-image: url("../../../assets/img/no-view.svg");
  }
}